/*  Hoja de estilos general */

/* Variables */
:root{
    --main-dark-color: #2a2928;
    --enhance-color: #f7e1a1;
    --secondary-color: #786D4E;
    --light-text-color: rgb(255, 255, 255);
    --dark-text-color: rgb(0, 0, 0);
    --background-dark-color: #363735;
    --background-light-color: #e3e3e3;
    --footer-color: #141413;

    --default-gap: 0.3rem;
    --mid-gap: 0.5rem;
}

/* Fuentes */
html{           /* Aumento el tamaño de rem para mejorar la legibilidad*/
    font-size: 20px;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.3;
}

.main-title{        /* Estilo del h1 */
  font-size: 3.5rem;
  font-family: "Amarante", serif;
  margin:0;
  margin-top: 3rem;
}

/* Estilos globales */
a{                      /* Estilo por defecto de todos los enlaces*/
    color: var(--enhance-color);   
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    margin: 0;
    min-height: 100vh;
    gap: 1.5rem;
    min-height: 100dvh;
    width: 100%;

    background-color: var(--background-dark-color);
    color: var(--light-text-color);
}

/*  Cabecera */
.header{
    display: flex;
    align-items: center;
    flex-flow: column;
    max-width: 80dvw;
    justify-content: space-between;
}

.main-menu a{
    color: var(--light-text-color);   
    padding: 0.3rem;
    font-weight: 700;
    font-size: 1rem;
}

.main-menu ul{
    display: flex;
    gap: var(--mid-gap);
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    flex-wrap: wrap;
}

/* Contenido principal */
.main-content{
    display: flex;
    flex-direction: row;
    background-color: var(--main-dark-color);
    padding: 2rem;
    max-width: 85dvw;
    box-sizing: border-box;
    border-radius: 30px;
    display: flex;
    gap: 1.5rem;
}

.article section:first-child h2{
    margin-top: 0;
}

/* Sección complementaria */
.top-books{
    border-radius: 30px;
    padding:var(--mid-gap);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--light-text-color);

    h2{
        text-align: center;        
    }

    li{
        font-size: 0.9rem;
        margin-bottom: var(--mid-gap);
    }
}

/* Pie de Página */
.main-footer{
    background-color: var(--footer-color);
    min-height: 20dvh;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    box-sizing: border-box;
    gap: 2rem;
    padding: 1rem;
    font-size: 0.8rem;
    
    a{
        color: var(--light-text-color);
    }
}

.footer-nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

/* Estilos polivalentes */
.social-links i{        /* Para los iconos*/
    font-size: 1.5rem;
    margin: var(--mid-gap);
    color: var(--enhance-color);
}
            
.action-link{       /* Para enlaces de llamada a la acción */
    background-color: var(--enhance-color);
    color: var(--dark-text-color);
    padding: 0.8rem;
    font-weight: 500;
    border-radius: 18px;
    box-sizing: border-box;
    display: flex;
    max-width: 15rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(
      auto-fill, 
      minmax(200px, 1fr)
    );
      gap: 0.8rem;
  
  }
  .rounded-image{
    width: 100%;
    height: auto;
    border-radius: 10px;

  }

/* Hover y animaciones */
.hover-opacity{
    transition: 0.3s ease;
}

.hover-opacity:hover {
    opacity: 0.7;
}

.rounded-image{
    animation: reveal linear both;
    animation-timeline: view();    /* No funciona en todos los navegadores todavía [probar en Chromium] */
    animation-range: entry 10% cover 40%;
    transition: 0.3s ease-in-out;

}

.rounded-image:hover{
    scale:1.1;
    opacity: 1;
}

@keyframes reveal{
    from{
        opacity: 0;
        translate: 0 100px;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }
}

/* Media Queries para mejorar la experiencia responsive */
@media (max-width: 770px){
    .main-content {
        flex-direction: column;
        footer {
            display: flex;
            justify-content: center;
        }
    }

    .top-books{
        margin-top: 2rem;
    }

    .footer-info{
        text-align: center;
    }

    .header{
        text-align: center;
    }
    .main-footer{
        flex-direction: column;
        align-items: center;
    }
}