/* Colores y medidas*/
:root{

    --main-color: #2a2928;
    --secondary-color: #f7e1a1;
    --transparent-color: rgb(0, 0, 0, 0);
    --dark-color: #141413;
    --default-gap: 0.3rem;
    --mid-gap: 0.5rem;
    --dark-text-color: rgb(255, 255, 255);
    --light-text-color: rgb(255, 255, 255);
}

/* Fuentes */
html{
    font-size: 20px;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.main-title {
  font-size: 3.5rem;
  font-family: "Amarante", serif;
  color: var(--dark-text-color);
  margin:0;
  margin-top: 3rem;
}

.subtitle{
    color: var(--dark-text-color);
}

/* Estilos */
body main{color: var(--light-text-color);;
}

body {
    background-color: #363735;
    color: white;
}
.main-menu ul {
    display: flex;
    gap: var(--mid-gap);
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    flex-wrap: wrap;
}


.main-menu a {
    color: var(--dark-text-color);   
    text-decoration: none;
    padding: 0.3rem;
    font-weight: 700;
    font-size: 1.2rem;
}


.action-link{
    background-color: var(--secondary-color);
    color: var(--dark-color);
    padding: 0.8rem;
    font-weight: 500;
    border-radius: 30px;
    box-sizing: border-box;
    display: flex;
    max-width: 15rem;
    justify-content: center;
    flex-wrap: wrap;

}

.main{
    background-color: var(--main-color);
    padding: 2rem;
    max-width: 85dvw;
    box-sizing: border-box;
    border-radius: 30px;
    min-width: 30dvw;
}


.header {
    display: flex;
    align-items: center;
    flex-flow: column;
    max-width: 80dvw;
    justify-content: space-between;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    gap: 1.5rem;
    /* justify-content:space-between; */
}

.main ul{
    margin-bottom: 6dvh;
}

.main-footer{
    background-color: var(--dark-color);
    min-height: 20dvh;
    width: 100dvw;
    color: var(--light-text-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1rem;

}
.main-footer a {
    text-decoration: none;
    color: var(--light-text-color);
    font-weight: 700;
}

a{
    color: var(--secondary-color);
}

.form-container{
    display: flex;
    justify-content: center;
}
.form-container{

    display: flex;
    flex-direction: column;
    gap: var(--default-gap);
    padding: 0.8rem;
}

.input-box{
    border-radius: 0.5rem;
    min-height: 1.5rem;
    border: 0;
    background-color: #e3e3e3;
    margin-bottom: var(--mid-gap) ;
}

textarea{
    background-color: rgb(232, 232, 232);
}

.submit-buttom{
    background-color: var(--secondary-color);
    color: var(--dark-color);
    border-radius: 0.5rem;
    margin-bottom: var(--mid-gap);
    min-height: 2rem;
    max-width: 10rem;
    font-size: 1rem;
}

.main footer{
    flex-flow: row wrap;
}
.tems_and_conditions{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: var(--default-gap);
}

/* hover */

.main-menu a {
    padding: var(--mid-gap);
    box-sizing: border-box;
    transition: background-color 0.7s ease;
    border-radius: 30px;
    
}

.main-menu a:hover {
    background-color: var(--secondary-color);
    border-radius: 30px;
    color: black;

    color: var(--dark-color);
}
